@import url(https://fonts.googleapis.com/css?family=Aladin);

h1, h2, h3 {
  font-family: "Aladin", Georgia, Serif;
  font-size:30px;
}

body {
  background:#fafafa;
}
input {
  font-size:14px;
  line-height: 20px;
  margin-top:10px;
  }
#wrapper {
  max-width:650px;
  margin: 0px auto;
}
input[type="text"],[type="number"]{
  width:80%;
  padding:10px;
}
.radio-btn {
  display: block;
  float: left;
  font-family: "Aladin", Georgia, Serif;
  font-size: 20px;
  height: 51px;
  width:100%;
}
input[type="radio"] {margin:10px;}

input[type="button"] {
  width:85%;
  padding:10px;
  color: #fff;
  background-color: #5cb85c;
  border: 1px solid #4cae4c;
  line-height: 20px;
  display: inline-block;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 4px;
}

.span {
  margin-top:10px;
  padding:15px;
}
span {
  width:80%;
  color:#009069;
  font-family: "Aladin", Georgia, Serif;
  font-size: 20px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
